.box-layout{
    background: url('/images/bg.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box{
    background:fade-out(white, .15);
    border-radius: 5px;
    text-align: center;
    width: 25rem;
    padding: $m-size $s-size;
}

.box-layout__title{
    margin: 0 0 $s-size 0;
    line-height: 1;
}

