.list-header{
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: $xs-size $s-size;
} 

.list-body{
    margin-bottom: $s-size;
        @media(min-width: $desktop-breakpoint) {
            margin-bottom: $m-size;
        }
}

.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    padding: $xs-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    
    @media (min-width: $desktop-breakpoint) {
            flex-direction: row;
            justify-content: space-between;
            padding: $s-size;
            align-items: center;
    }

}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: grey;
    padding-left: $s-size;
    &:hover{
        background: none;
    }
}

.list-item__title{
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title{
    color:grey;
    font-size: 1.4rem;
}

.list-item__data {
    margin: $xs-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left:  $xs-size;
    }
}