.page-header{
    background: #f7f7f7;
    padding: $m-size 0;
    margin-bottom: $m-size;
}

.page-header__actions{
    margin-top: $s-size;
}

.page-header__title{
    margin: 0;
    font-weight: 300;
        span{
            font-weight: bold;
        }
}