//color
$dark-grey: #333;
$blue:#1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
//Font Size
$font-size-large: 1.8rem;

//size
$xs-size:1.2rem;
$s-size:1.6rem;
$m-size:3.2rem;
$l-size:4.8rem;
$desktop-breakpoint:45rem;